
/*body 
{
    margin: 170px;
    padding: 170px;
    background-image: url(1.png);
    filter: blur(10000px);
    background-position: center;
    background-size: cover;
}*/
.background 
{          margin: 0px;
           padding: 0px;
            background-image: url(1.png);
            background-repeat: no-repeat;
            height: 100px;
            width: 100px;
            background-size: cover;
            filter: blur(1000px);
        
}
.left 
{
    border: 1px solid black;
    align-items: left;
    height: 200px;
    width: 20px;
}
.right
{
    border: 1px solid black;
    align-items: left;
    height: 20px;
    width: 20px;
}